@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Indie+Flower&family=Libre+Barcode+128+Text&family=Marvel&family=Permanent+Marker&family=Roboto&family=Rubik&family=Sacramento&family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 244, 246);
    font-family: 'Roboto';
    margin: 0px;
    padding-top: 100px;
    
}
.encabezado{
    background-color: white;
    width: 100%;
    overflow: hidden;
    height: 100px;
    position: fixed;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    box-shadow: 0px 15px 21px -5px rgba(0,0,0,0.75);
}

.div1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    float: left;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
}
.div2 {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    float: right;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    text-align: right;
    font-family: 'Bangers';
    font-size: 24px;
    
}

.lincHeader {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
.lincHeader:hover {
    font-size: 26px;
}
.imgheader {
    box-sizing: border-box;
    width: 3%;
    height: 40%;
    float: right;
    margin: 0px 5px;
    padding-left: 3px;
}

header div img {
    width: 50%;    
    height: 100%;
    float: left;
    margin-left: 40px;
}

.caja1 {background-color: red;}
.caja2 {
    background-color: blue;
    }
.caja3 {background-color: green;}

.caja1, .caja2, .caja3 {
    margin: 20px 0;
    color: white;
}

p span:hover {
    background-color: turquoise;
    color: red;
}

/* forma larga de escribir border
.articulo1 {
    border-width: 3px;
    border-style: solid;
    border-color: red;
}
*/

.articulo1 {
    border: 3px solid red;
    
}

.articulo2 {
    background-color: green;
    padding: 5%;
    font-family: 'Bangers';
    font-size: 36px;
    
}

.articulo3 {
    margin: 15px;
    background-color: violet;
    box-sizing: border-box;
    }

.bloques {
    border: 5px solid lightblue;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Bangers";
    font-size: 24px;
    font-style: italic;
    letter-spacing: 1px;
    text-decoration-style: solid;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.padre {
    overflow: hidden;
    margin: 10px auto;
    width: 80%;
    background-color: white;
    padding: 20px;
    
    
}
.cajasDiv {
    width: 31%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    float: left;
    box-sizing: border-box;
    background-color: white;
    padding: 15px;
    height: 55%;
    margin: 8px;
    
}
.textoDiv {
    font-family: "Bangers";
    font-size: 24px;
    color: grey;
    text-align: center;
    border:1px solid black;
}

.textoDiv:hover {

    font-weight: bold;
    font-size: 26px;
    color: rgb(100, 100, 100);
    text-align: center;
    border:1px solid black;
}

.imagenDiv {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8)
}

